
@page "/Recursos/ListadoRecursos"
@using BlazorApp1.Data
@inject RecursoService RecursoService
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Listado de Recursos</h3>

<button class="btn btn-success mb-2 pt-2" @onclick="()=>Editar(0)"><span class="oi oi-plus mr-1"></span>Agregar Recurso</button>

<p>Panel de control de Recursos</p>

@if (recursos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>UsuarioId</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resource in recursos)
            {
                <tr>
                    <td>@resource.Id</td>
                    <td>@resource.Nombre</td>
                    <td>@resource.Usuario.Nombre</td>
                    <td>
                        <button class="btn btn-warning" @onclick="()=>Editar(resource.Id)">Editar</button> 
                        <button class="btn btn-danger" @onclick="()=>Borrar(resource.Id)">Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BlazorApp1.Data.Recurso> recursos;

    protected override async Task OnInitializedAsync()
    {
        recursos = await RecursoService.GetAll();
        //var tipo = await RecursoService.GuardaUsuario(new Usuario { Nombre = "blazor"}); 
        //var tipos = await RecursoService.GetUser(); 
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("Recursos/EditarRecursos/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el Recurso?");
        if (confirmed)
        {
            await RecursoService.DeleteResource(id);
            recursos = await RecursoService.ListResource();
        }
    }
}