
@page "/Usuarios/ListadoUsuarios"
@using BlazorApp1.Data
@inject UsuarioService service
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Listado de Usuarios</h3>

<button class="btn btn-success mb-2 pt-2" @onclick="()=>Editar(0)"><span class="oi oi-plus mr-1"></span>Agregar Usuario</button>

<p>Panel de control de Usuarios</p>

@if (usuarios == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Clave</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in usuarios)
            {
                <tr>
                    <td>@user.UsuarioPK</td>
                    <td>@user.Nombre</td>
                    <td>@user.Clave</td>
                    <td>
                        <button class="btn btn-warning" @onclick="()=>Editar(user.UsuarioPK)">Editar</button> 
                        <button class="btn btn-danger" @onclick="()=>Borrar(user.UsuarioPK)">Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BlazorApp1.Data.Usuario> usuarios;

    protected override async Task OnInitializedAsync()
    {
        //usuarios = await service.ListUser();
        usuarios = await service.GetAll();
        //var tipo = await service.GuardaTarea(new Tarea { Titulo = "blazor"}); NO VA
        //var tipos = await service.GetTareas(); NO VA
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("usuarios/EditarUsuarios/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el usuario?");
        if (confirmed)
        {
            await service.DeleteUser(id);
            usuarios = await service.GetAll();
        }
    }
}
