
@page "/Tareas/EditarTareas/{id:int}"
@using BlazorApp1.Data
@inject TareaService TareaService
@inject RecursoService RecursoService
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h3 class="my-4">Editar Tarea</h3>
    <div class="container">
        <div>
            <div class="mb-3">
                Título:
                <InputText @bind-Value="Modelo.Titulo" />
            </div>
            <div class="mb-3">
                Vencimiento:
                <InputDate @bind-Value="Modelo.Vencimiento" />
            </div>
            <div class="mb-3">
                Estimación:
                <InputNumber @bind-Value="Modelo.Estimacion" />
            </div>
            <div class="mb-3">
                Estado:
                <InputText @bind-Value="Modelo.Estado" />
            </div>
            <div class="mb-3">
                Recurso:
                <InputSelect class="p-1" @bind-Value="RecursoId">
                    <option value="0">Seleccione un Recurso</option>
                    @foreach (var item in Recursos)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </InputSelect>
            </div>
            <button class="btn btn-success my-3" type="submit">Guardar</button>
        </div>
    </div>


</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    public Tarea Modelo { get; set; } = new Tarea();

    public string RecursoId { get; set; }

    private List<Recurso> Recursos = new List<Recurso>();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await TareaService.SelectTask(Id);
            RecursoId = Modelo.RecursoId.ToString();
        }
        else
        {
            Modelo = new Tarea();
        }
        Recursos = await RecursoService.ListResource();
    }


    private async void Guardar()
    {
        Modelo.RecursoId = int.Parse(RecursoId);
        await TareaService.SaveTask(Modelo);
        navigation.NavigateTo("Tareas/ListadoTareas");
    }
}