@page "/ListadoUsuarios"

@using BlazorApp1.Data
@inject UsuarioService UsuarioService

<h3>Listado de Usuarios</h3>

<p>Visualizador de los usuarios</p>

@if (usuarios == null)
{
<p><em>Loading...</em></p> }
            else
            {
<table class="table">
    <thead>
        <tr>
            <th>UsuarioPK</th>
            <th>Nombre</th>
            <th>Clave</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in usuarios)
        {
<tr>
    <td>@usuario.UsuarioPK</td>
    <td>@usuario.Nombre</td>
    <td>@usuario.Clave</td>    
</tr>}
    </tbody>
</table>}

@code { private Usuario[] usuarios;

            protected override async Task OnInitializedAsync()
            {
                usuarios = UsuarioService.GetUsuarios();
            } }
