@page "/recursos/editar/{id:int}"
@using BlazorApp1.Data
@inject RecursoService service
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">
            Nombre
        </label>
        <div class="col-sm-10">
            <InputText @bind-Value="Modelo.Nombre" />
        </div>
    </div>

    <button type="submit">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    public Recurso Modelo { get; set; } = new Recurso();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await service.Get(Id);
        }
        else
        {
            Modelo = new Recurso();
        }
    }


    private async void Guardar()
    {
        await service.Save(Modelo);
        navigation.NavigateTo("recursos/listado");
    }
}