@page "/recursos/editar/{id:int}"
@using BlazorApp1.Data
@inject RecursoService service
@inject NavigationManager navigation

<EditForm Model="@Modelo" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">
            Nombre
        </label>
        <div class="col-sm-10">
            <InputText @bind-Value="Modelo.Nombre" />
        </div>
    </div>

    <div class="mb-3">
        Usuario:
        <InputSelect class="py-1" @bind-Value="UsuarioId">
            <option value="0">Elija un Usuario</option>
            @foreach (var item in Usuarios)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </InputSelect>
    </div>

    <button type="submit">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }

    public Recurso Modelo { get; set; } = new Recurso();

    public string UsuarioId { get; set; }

    private List<Usuario> Usuarios;

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            Modelo = await service.Get(Id);
            UsuarioId = Modelo.UsuarioId.ToString();
        }
        else
        {
            Modelo = new Recurso();
        }
        Usuarios = await service.GetUsuario();
    }


    private async void Guardar()
    {
        Modelo.UsuarioId = int.Parse(UsuarioId);
        await service.Save(Modelo);
        navigation.NavigateTo("recursos/listado");
    }
}