@page "/tareas/listado"
@using BlazorApp1.Data
@inject TareaService service
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Listado de Tareas</h3>
<button class="btn" @onclick="()=>Editar(0)">Nuevo</button>
@if (tareas == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tareas)
            {
                <tr>
                    <td>@item.Titulo</td>
                    <td><button class="btn" @onclick="()=>Editar(item.Id)">Editar</button> <button class="btn" @onclick="()=>Borrar(item.Id)">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Tarea> tareas;

    protected override async Task OnInitializedAsync()
    {
        tareas = await service.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("tareas/editar/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar la tarea?");
        if (confirmed)
        {

        }
    }
}