@page "/tipotareas/listado"
@using BlazorApp1.Data
@inject TipoTareaService service
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Listado de Tipo Tareas</h3>
<button class="btn" @onclick="()=>Editar(0)">Nuevo</button>
@if (tipotareas == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tipotareas)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td><button class="btn" @onclick="()=>Editar(item.Id)">Editar</button> <button class="btn" @onclick="()=>Borrar(item.Id)">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<TipoTarea> tipotareas;

    protected override async Task OnInitializedAsync()
    {
        tipotareas = await service.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("tipotareas/editar/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el tipo tarea?");
        if (confirmed)
        {

        }
    }
}